@import "base/base";
body {
    font-family: 'Helvetica Neue', Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;
    background-image: url(../img/bg.png);
    background-repeat: repeat;
    font-size: 16px;
}

img {
    display: block;
    width: 100%;
}

.wrapper {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px 10px;
}

td.no-padding {
    padding: 0!important;
}

.table>tbody+tbody {
    border: none!important;
}

table {
    .col-md-4,
    .col-sm-6,
    .col-xs-12 {
        padding-bottom: 15px;
    }
    thead {
        th {
            &:nth-child(1) {
                width: 60px;
            }
            &:nth-child(3) {
                width: 150px;
            }
            &:nth-child(4) {
                width: 130px;
            }
        }
    }
}

.panel-heading {
    h3 {
        float: left;
        line-height: 34px;
    }
    button {
        float: right;
        margin-right: 0.8rem;
    }
}

.search-form {
    form {
        max-width: 500px;
        margin: 0 auto;
        padding: 30px 30px 0;
    }
}

.shade {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #eee;
    background-image: url(../img/bg.png);
    z-index: 99999;
    &.true {
        display: none;
    }
    form {
        @include vhcenter-abs(60%, 300px);
        max-width: 500px;
        min-width: 250px;
    }
    .alert {
        text-align: center;
        display: none;
    }
}

.modal-body form {
    padding: 10px 30px 0;
    .loading-icon {
        font-size: 1.2em;
        position: relative;
        left: 12px;
        top: 6px;
        -webkit-animation: rotate 2s infinite linear;
        animation: rotate 2s infinite linear;
        visibility: hidden;
    }
}

ol {
    list-style-type: upper-alpha;
}

.panel-body ol {
    padding-left: 6rem;
    li.active {
        color: #1abc9c;
    }
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@media screen and (max-width: 500px) {
    table thead th {
        &:nth-child(1) {
            width: 35px;
        }
        &:nth-child(3) {
            width: 100px;
        }
        &:nth-child(4) {
            width: 70px;
        }
    }
    td,
    th {
        &:nth-child(3) {
            display: none;
        }
    }
    table .btn {
        margin-bottom: 0.5rem;
    }
}
